
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- slider stylesheet -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

<!-- bootstrap core css -->
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />

<!-- fonts style -->
<link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="~/Content/style.css" rel="stylesheet" />
<!-- responsive style -->
<link href="~/Content/responsive.css" rel="stylesheet" />


<section class="about_section layout_padding">
    <div class="container" style="margin-top: 40px">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h1>
                            <span> Giới thiệu về HyperTech </span>
                        </h1>

                    </div>

                    <big>
                        Tuy được thành lập từ năm 2023 nhưng <strong><em>HyperTech</em></strong> đang trên đà phát triển mạnh mẽ nhờ những thiết bị công nghệ hiện đại, chúng tôi đã có 5 hệ thống bán lẻ hợp tác với nhiều
                        nhãn hàng nổi tiếng trên khắp thế giới như <em>Apple</em>, <em>Samsung</em>, <em>Acer</em>, <em>Asus</em>,...<br />
                        <br />
                        Đội ngũ tư vấn của <strong><em>HyperTech</em></strong> không đơn thuần là nhân viên kinh doanh, chúng tôi còn là những người yêu thích công nghệ với mong muốn giúp bạn cùng sở thích có được những thiết bị điện tử phù hợp.<br />
                        <br />
                        Sự hài lòng của khách hàng chính là động lực giúp chúng tôi không ngừng hoàn thiện, mang lại ngày càng nhiều giá trị tích cực cho cộng đồng. Rất mong các bạn sẽ đồng hành cùng chúng tôi trên những hành trình sắp tới.
                    </big>
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-box">
                    <img src="~/Images/Picture1.jpg" alt="Giới thiệu">
                </div>
            </div>
        </div>
    </div>
</section>

