
@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!--Section: News of the day-->
<div class="container" style="min-height: 600px; margin: 60px auto;">
    <div class="container page-body">
        <div class=" row product-list">
            <div class="row gx-5">
                <div class="col-4 mb-4">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src="~/Images/tintuc1.jpg" style="height: 70%; width:70%; margin-left: 50px" class="img-fluid" />
                    </div>
                </div>

                <div class="col-8 mb-3">
                    <h4>
                        <a href="http://doanhnghiepvn.vn/cong-nghe/danh-gia-smartphone-chip-s660-ram-8-gb-gia-6-99-trieu-tai-viet-nam/2018112603315443">
                            <strong>Đánh giá smartphone chip S660, RAM 8 GB, giá 6,99 triệu tại Việt Nam</strong>
                        </a>
                    </h4>
                    <p class="text-muted">
                        (DNVN) - Tại thị trường Việt Nam, Realme 2 Pro được bán với giá cao nhất 6,99 triệu đồng. Máy được trang bị chip Qualcomm Snapdragon 660, RAM 4/6/8 GB camera kép...
                    </p>
                </div>
                <!---->
                <div class="col-4 mb-4">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src="~/Images/tintuc2.jpg" style="height: 70%; width:70%; margin-left: 50px" class="img-fluid" />
                    </div>
                </div>

                <div class="col-8 mb-3">
                    <h4>
                        <a href="https://thanhnien.vn/cong-nghe/kham-pha-smartphone-man-hinh-gap-duoc-dau-tien-cua-samsung-1027111.html">
                            <strong>Khám phá smartphone màn hình gập được đầu tiên của Samsung</strong>
                        </a>
                    </h4>
                    <p class="text-muted">
                        Samsung chỉ mới trình diễn mẫu smartphone dùng màn hình gập lại được đầu tiên của mình, các thông tin chi tiết về sản phẩm vẫn chưa được công bố. Tuy nhiên, các dữ liệu này hiện đã rò rỉ khá đầy đủ...
                    </p>
                </div>
                <!---->
                <div class="col-4 mb-4">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src="~/Images/tintuc3.jpg" style="height: 70%; width:70%; margin-left: 50px" class="img-fluid" />
                    </div>
                </div>

                <div class="col-8 mb-3">
                    <h4>
                        <a href="https://vov.vn/cong-nghe/doanh-so-iphone-xs-va-iphone-xr-tham-hai-apple-san-xuat-lai-iphone-x-843717.vov">
                            <strong>Doanh số iPhone XS và iPhone XR thảm hại, Apple sản xuất lại iPhone X</strong>
                        </a>
                    </h4>
                    <p class="text-muted">
                        Theo The Wall Street Journal, Apple vừa thỏa thuận với Samsung để mua một số lượng màn hình OLED nhất định. Nguyên do là người dùng không quá mặn mà với các iPhone mới của Apple, dẫn đến số lượng màn hình OLED để trang bị cho máy cũng không đạt được thỏa thuận ban đầu. Do đó, Apple chuyển sang mô hình iPhone X...
                    </p>
                </div>
                <!---->
                <div class="col-4 mb-4">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src="~/Images/tintuc4.jpg" style="height: 70%; width:70%; margin-left: 50px" class="img-fluid" />
                    </div>
                </div>

                <div class="col-8 mb-3">
                    <h4>
                        <a href="http://vietq.vn/chiec-dien-thoai-thong-minh-nay-cua-lg-se-co-toi-16-camera-d151674.html">
                            <strong>Chiếc điện thoại thông minh này của LG sẽ có tới 16 Camera</strong>
                        </a>
                    </h4>
                    <p class="text-muted">
                        Theo đó, một bằng sáng chế mới được LG cung cấp bất ngờ rò rỉ trên trang công nghệ LetsGoDigital. Nội dung đề cập tới một điện thoại thông minh của hãng LG có hệ thống camera chính gồm 16 ống kính...
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
