@model IEnumerable<ClothingShop.Models.DonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary">Danh sách đơn hàng</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Khách hàng</th>
                            <th>Ngày đặt</th>
                            <th>Địa chỉ giao hàng</th>
                            <th>Trạng thái đơn hàng</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.Customer.CustomerName</td>
                                <td>@String.Format("{0:dd/MM/yyyy}", item.DateOrder)</td>
                                <td>@item.Address</td>
                                @if (item.Status == 0)
                                {
                                    <td>Chưa xác nhận</td>
                                }
                                else
                                {
                                    <td>Đã xác nhận</td>

                                }
                                <td><a href="@Url.Action("Details/"+item.IDOrder,"Orders")">Xem chi tiết</a></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>